/* TODO: change LOG GRID to CSS GRID */
.t-grid-row {
    border-bottom: 1px solid var(--q-primary);
    cursor: pointer;
}

.t-grid-row:hover {
    background-color: var(--color-bg-grid);
}

.t-grid-col-date {
    border-right: 1px solid var(--q-primary);
    font-size: smaller;
    padding: 0 5px 0 5px;
}

.t-grid-col-type {
    border-right: 1px solid var(--q-primary);
}

/* CSS grid */
.t-grid {
    display: grid;
}

.t-grid.rows {
    grid-auto-flow: row;
}

.t-grid.cols {
    grid-auto-flow: column;
}

.t-grid.cols-auto {
    grid-auto-flow: column;
    grid-auto-columns: auto;
}
